<div id="new-project-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  animated tada" style="width:30%; margin-top:150px;">
        <div class="modal-content">
            <div class="modal-header bg-aqua">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    What is the Name of the Project?	
                </h4>
            </div>
            <div class="container" style="width:inherit; margin-top:30px;">
                <div class="input-container alt">
                    <input type="text" id="new_project_name" required/>
                    <label for="Username">Project Name</label>
                    <div class="bar"></div>
                </div>
            </div>
        </div><!--End of Content-->
        <div class="modal-footer bg-gray-light">
            <button class="btn-default btn" data-dismiss="modal">Cancel</button>
            <button class="bg-olive btn" id="add-project">Save</button>
        </div>
    </div><!--End of Modal Dialog-->
</div><!--End of modal-->
